# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build # If you have a 'build' folder instead of 'dist'

# misc
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# .vscode/* # Uncomment if you want to ignore VS Code settings
# !.vscode/extensions.json # But keep this if you want to recommend extensions
